body{
	font-size: 14px;
	line-height: 1;
	font-family: "Roboto",sans-serif !important;
	color: #444;
}

h1{
	font-family: "Roboto",sans-serif;
}

h3{
	font-family: "Roboto",sans-serif;
}




/* TOPBAR */
.topbar{
	min-height: 30px;
	background-color: #444444;
}

.topbar ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.topbar ul li{
	display: inline-block;
}

.topbar ul li a{
	color: #fff;
	font-size: 12px;
	line-height: 30px;
}
/* END */




/* HEADER */
header{
	background-color: #000;
}

header nav .navbar-desktop ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header nav .navbar-desktop ul li{
	display: inline-block;
	border-left: 1px solid #1a1a1a; 
}

header nav .navbar-desktop ul li a{
	color: #fff;
}

.icon{
	width: 45px;
	height: 45px;
	display: block;
	margin: 0 auto;
}

.icon-clock-male{
	background: url(../images/clock-male.png) no-repeat;
}

.icon-clock-female{
	background: url(../images/clock-female.png) no-repeat;
}

.icon-clock-couple{
	background: url(../images/clock-couple.png) no-repeat;
}

.icon-clock-accessories{
	background: url(../images/clock-accessories.png) no-repeat;
}

header form{
	margin-top: 18px;
}

header .form-search{
	width: 50%;
	float: left;
}

header .form-search .input-group input[type="text"]{
	background: transparent;
	border: 1px solid #fff;
	padding: 5px;
	font-size: 12px;
	border-radius: 0;
	height: 34px; 
}

header .form-search .input-group button{
    width: 34px;
    height: 34px;
    line-height: 34px;
    padding: 0;
    font-size: 12px;
    border-radius: 0;
    background-color: #ffe51e;
    border: none;
}

header .cart{
	width: 47%;
	float: right;
}

header .cart button{
	font-size: 14px;
	border: none;
	border-radius: 0;
	background-color: #ffe51e;
	color: #000;
}
/* END */




/* BANNER */

/* END */




/* BANNER THUMBNAIL */

/* END */



/* CONTENT LEFT */

	/* CATEGORIES */
	.content-left .categories{
		width: 100%;
		height: 234px;
		background-color: #151515;
	}
	/* END CATEGORIES */


	/* FILTER */
	.content-left .filter{
		width: 100%;
		height: 378px;
		background-color: #f8f8f8;
		border-top: 4px solid #000;
		margin: 30px 0;
	}
	/* END FILTER */


	/* BEST SELLER */
	.content-left .best-seller{
		width: 100%;
		height: 802px;
		background-color: #151515;
	}
	/* END BEST SELLER */


	/* FACEBOOK */
	.content-left .facebook{
		width: 100%;
		height: 244px;
		background-color: #151515;
		margin-top: 20px;
	}
	/* END FACEBOOK */

/* END */




/* CONTENT RIGHT */

	/* NEW PRODUCT */
	.content-right .new-product h3{
		text-align: center;
	}

	.content-right .new-product .new-product-item{
		border: 1px solid #000;
		height: 353px;
	}
	/* END NEW PRODUCT */


	/* PROMOTION */
	.content-right .promotion h3{
		text-align: center;
	}

	.content-right .promotion .promotion-item{
		border: 1px solid #000;
		height: 353px;
	}
	/* END PROMOTION */

/* END */



/* FOOTER TOP */
.footer-top{
	height: 85px;
	background: url(../images/ft-top.jpg);
}
/* END */



/* FOOTER */
.footer{
	height: 269px;
	background-color: #000;
	padding: 45px 0 15px 0;
}
/* END */




/* COPYRIGHT */
.copyright{
	height: 56px;
	background-color: #000;
	border-top: 1px solid #111;
}
/* END */


